
<div class="container" id="maShiRo">
  <ul class="nav nav-pills" role="tablist">
    <li class="pull-left"><button class="btn btn-default btn-xs" id="returnLastLevel" style="display: none;margin-left: 100px">返回</button></li>
    <li class="pull-right"><button class="btn btn-default btn-xs" id="controlMaShiRo" ></button></li>
  </ul>
</div>

<div class="container" id="errorPieVis">
  <div class="col-sm-6 col-md-6 col-lg-6" id="errorPie"></div>
  <div class="col-sm-6 col-md-6 col-lg-6" id="errorBar"></div>
</div>


