<div class="row well well-sm">
  <form id="dependency-query-form" class="form-inline" role="form">
    <div id="start-ts" class="form-group">
      <label for="timeStamp" data-i18n="dep.stime">Start time</label>
      <input class="form-control input-sm date-input" type="text">
      <input class="form-control input-sm time-input" type="text">
      <input class="timestamp-value" id="startTs" name="startTs" type="hidden" value="">
    </div>

    <div id="end-ts" class="form-group">
      <label for="timeStamp" data-i18n="dep.etime">End time</label>
      <input class="form-control input-sm date-input" type="text">
      <input class="form-control input-sm time-input" type="text">
      <input class="timestamp-value" id="endTs" name="endTs" type="hidden" value="">
    </div>

    <button type="submit" class="btn btn-default btn-sm" data-i18n="dep.analyze">Analyze Dependencies</button>
  </form>
</div>


<div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2" id="selectTree">
    </div>
    <div id="dependency-container" class="col-sm-10 col-md-10 col-lg-10">
      <ul class="list-group pull-right selected-trace" id = "selectedTrace">
      </ul>
      <svg width="100%" height="4000" class="rootSvg">
      </svg>
    </div>
</div>

<div class="container table-responsive" id="logVis">
  <table class="table table-hover table-bordered table-condensed col-sm12 col-md-12 col-lg-12">
    <thead id="logHead">
      <tr>
        <th>Node</th>
        <th>Service</th>
        <th>Instance</th>
        <th id="sortByURI" class = "handMouse">Uri <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
        <th>LogType</th>
        <th id="sortByTime" class = "handMouse">Time <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></th>
        <th>LogInfo</th>
      </tr>
    </thead>
    <tbody id="logTable">
    </tbody>
  </table>
</div>

<div class="container" id="logEntrance">
  <ul class="nav nav-pills" role="tablist">
    <li><span class="bg-danger">Error: <strong id = "errorCount">0</strong></span></li>
    <li><span class="bg-warning">Exception: <strong id = "exceptionCount">0</strong></span></li>
    <li><span class="bg-success">Normal: <strong id = "normalCount">0</strong></span></li>
    <li class="pull-right"><button class="btn btn-default btn-xs" id="controlLogVis"></button></li>
  </ul>
</div>
