<div id="trace-tree">
    {{#tData}}
      <li>
        <a class="tree-node" style="background-color: rgba(242,222,222,{{shade}})" >
          {{#open}}
            <i style="margin-right: 5px" class="fa fa-minus-square-o status "></i>
          {{/open}}
          {{^open}}
            <i style="margin-right: 5px" class="fa fa-plus-square-o status"></i>
          {{/open}}
          {{#isService}}
            <span class="title" data-toggle="tooltip" data-placement="bottom" title="ErrorTrace:{{errorTraceCount}}  NormalTrace:{{normalTraceCount}}">{{title}}</span>
          {{/isService}}
          {{^isService}}
            <span class="title" data-toggle="tooltip" data-placement="right" title="ErrorTrace:{{errorTraceCount}}  NormalTrace:{{normalTraceCount}}">{{title}}</span>
          {{/isService}}
          <div class="field" style="display: none" >{{field}}</div>
          <div class="shade" style="display: none">{{shade}}</div>
          <div class="traceTypeList" style="display: none">{{traceTypeListString}}</div>
          <input class="open" value="{{open}}" style="display: none"/>
        </a>
        <ul>
          {{#children}}
            <li>
              <a class="tree-node" style="background-color: rgba(242,222,222,{{shade}})" >
                {{#open}}
                  <i style="margin-right: 5px" class="fa fa-minus-square-o status "></i>
                {{/open}}
                {{^open}}
                  <i style="margin-right: 5px" class="fa fa-plus-square-o status"></i>
                {{/open}}
                {{#isService}}
                  <span class="title" data-toggle="tooltip" data-placement="bottom" title="ErrorTrace:{{errorTraceCount}}  NormalTrace:{{normalTraceCount}}">{{title}}</span>
                {{/isService}}
                {{^isService}}
                  <span class="title" data-toggle="tooltip" data-placement="right" title="ErrorTrace:{{errorTraceCount}}  NormalTrace:{{normalTraceCount}}">{{title}}</span>
                {{/isService}}
                <div class="field" style="display: none" >{{field}}</div>
                <div class="shade" style="display: none">{{shade}}</div>
                <div class="traceInfoList" style="display: none">{{traceInfoListString}}</div>
                <input class="open" value="{{open}}" style="display: none"/>
              </a>
              <ul>
                {{#children}}
                  <li>
                    <a class="tree-node" style="background-color: rgba(242,222,222,{{shade}})" >
                      {{#open}}
                        <i style="margin-right: 5px" class="fa fa-minus-square-o status "></i>
                      {{/open}}
                      {{^open}}
                        <i style="margin-right: 5px" class="fa fa-plus-square-o status"></i>
                      {{/open}}
                      {{#isService}}
                        <span class="title" data-toggle="tooltip" data-placement="bottom" title="Error:{{errorCount}}  Exception:{{exceptionCount}} Normal:{{normalCount}}">{{title}}</span>
                      {{/isService}}
                      {{^isService}}
                        <span class="title" data-toggle="tooltip" data-placement="right" title="Error:{{errorCount}}  Exception:{{exceptionCount}} Normal:{{normalCount}}">{{title}}</span>
                      {{/isService}}
                      <div class="field" style="display: none" >{{field}}</div>
                      <div class="shade" style="display: none">{{shade}}</div>
                      <div class="serviceList" style="display: none">{{serviceListString}}</div>
                      <input class="open" value="{{open}}" style="display: none"/>
                    </a>
                    <ul>
                      {{#children}}
                        <li>
                          <a class="tree-node" style="background-color: rgba(242,222,222,{{shade}})" >
                            <i style="margin-right: 5px" class="fa fa-building-o" aria-hidden="true"></i>
                            {{#isService}}
                              <span class="title" data-toggle="tooltip" data-placement="bottom" title="Error:{{errorCount}}  Exception:{{exceptionCount}} Normal:{{normalCount}}">{{title}}</span>
                            {{/isService}}
                            {{^isService}}
                              <span class="title" data-toggle="tooltip" data-placement="right" title="Error:{{errorCount}}  Exception:{{exceptionCount}} Normal:{{normalCount}}">{{title}}</span>
                            {{/isService}}
                            <div class="field" style="display: none" >{{field}}</div>
                            <div class="shade" style="display: none">{{shade}}</div>
                          </a>
                        </li>
                      {{/children}}
                    </ul>
                  </li>
                {{/children}}
              </ul>
            </li>
          {{/children}}
        </ul>
      </li>
    {{/tData}}
  </div>







