#trace-tree{
  width:100%;
}
#trace-tree ul{
  padding-left:20px;
}
#trace-tree li{
  list-style-type:none;
}
.tree-node:hover{
  cursor:pointer;
}
#trace-tree a{
  color:#000;
}
#trace-tree a:hover{
  text-decoration: none;
  background-color:#CCCCCC;
  color: #000;
}
#trace-tree a:active{
  text-decoration: none;
  background-color: #777777;
  color:#FFFFFF;
}
#trace-tree ul li i:first-child{
  margin:0 5px;
}

#logVis {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  display: none;
  /*overflow-y: scroll;*/
  word-break:break-all;
  word-wrap:break-all;
}

.keepIn {
  word-break:break-all;
  word-wrap:break-all;
}

#logVis thead{
  cursor: s-resize;
}

#logVis .table tbody tr td{
  text-align: center;
  vertical-align: middle;
}

#logVis .table thead tr th{
  text-align: center;
  vertical-align: middle;
}

#logVis .btn{
  border: none;
}

#logVis .handMouse {
  cursor: pointer;
}

/*#logVis table tbody {*/
  /*display: block;*/
  /*overflow-y: scroll;*/
/*}*/

/*#logVis table thead, tbody tr {*/
  /*display: table;*/
  /*width: 100%;*/
  /*table-layout: fixed;*/
/*}*/

/*#logVis table thead {*/
  /*width: calc(100% - 1em);*/
/*}*/
#logHead {
  position: fixed;
  display: block;
  background-color: #ffffff;
  width: 100%;
  margin-top: -1px;
}

#logTable {
  display: block;
  width: 100%;
}

#selectTree {
  margin-left: -15px;
  margin-right: -15px;
}
.nodeInfo {
  display: none;
}

.serviceInstanceInfo {
  display: none;
}

.node-info {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#logEntrance {
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
}

.selected-trace {
  width: 150px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
}

.selected-trace li {
  padding: 5px 5px;
}

.selected-trace .close {
  margin-top: -2.5px;
}


.color-box {
  width: 10px;
  height: 10px;
  border: #444444 1px;
  margin-top: 3px;
}


#selectedTrace {
  cursor: pointer;
}

.serviceInfoTable .table tbody tr th{
  vertical-align: middle;
}
.serviceInfoTable .table  tbody tr td{
  vertical-align: middle;
}
.serviceInfoTable .table  tbody tr td{
  border: white 0px solid;
}
.serviceInfoTable .table  tbody tr th{
  border: white 0px solid;
}

.deOffset {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
}

.layui-layer-content {
  width: 100%;
}
.layui-layer-tabmain .layui-layer-tabli {
  display: block;
}
#selectTree {
  width: 290px;
  height: 450px;
  top: 150px;
  left: 6%;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  display: none;
}

.diybtn {
  width: 20px;
  height: 100px;
  padding: 1px 2px!important;
  font-size: 9px!important;
  line-height: 1.2!important;
  white-space:normal!important;
  word-wrap: break-word!important;
  word-break: break-all!important;
}

#controllTree {
  position: fixed;
  margin-left: 275px;
  top: 150px;
  display: none;
}
