#trace-tree{
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
}
#trace-tree ul{
  padding-left:20px;
}
#trace-tree li{
  list-style-type:none;
}
.tree-node:hover{
  cursor:pointer;
}
#trace-tree a{
  color:#000;
}
#trace-tree a:hover{
  text-decoration: none;
  background-color:#CCCCCC;
  color: #000;
}
#trace-tree a:active{
  text-decoration: none;
  background-color: #777777;
  color:#FFFFFF;
}
#trace-tree ul li i:first-child{
  margin:0 5px;
}

#logVis {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  display: none;
  /*overflow-y: scroll;*/
}

#logHead {
  position: fixed;
  display: block;
  background-color: #ffffff;
  width: 100%;
  margin-top: -1px;
}

#logTable {
  display: block;
  width: 100%;
}
.nodeInfo {
  display: none;
}

.serviceInstanceInfo {
  display: none;
}

.node-info {
  padding-top: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
